<!-- bower dependencies -->
<link rel="import" href="../XAudioJS/XAudioJS.html">
<!--Required Scripts-->
<script src="IodineGBA/includes/TypedArrayShim.js"></script>
<script src="IodineGBA/core/Cartridge.js"></script>
<script src="IodineGBA/core/DMA.js"></script>
<script src="IodineGBA/core/Emulator.js"></script>
<script src="IodineGBA/core/Graphics.js"></script>
<script src="IodineGBA/core/RunLoop.js"></script>
<script src="IodineGBA/core/Memory.js"></script>
<script src="IodineGBA/core/IRQ.js"></script>
<script src="IodineGBA/core/JoyPad.js"></script>
<script src="IodineGBA/core/Serial.js"></script>
<script src="IodineGBA/core/Sound.js"></script>
<script src="IodineGBA/core/Timer.js"></script>
<script src="IodineGBA/core/Wait.js"></script>
<script src="IodineGBA/core/CPU.js"></script>
<script src="IodineGBA/core/Saves.js"></script>
<script src="IodineGBA/core/sound/FIFO.js"></script>
<script src="IodineGBA/core/sound/Channel1.js"></script>
<script src="IodineGBA/core/sound/Channel2.js"></script>
<script src="IodineGBA/core/sound/Channel3.js"></script>
<script src="IodineGBA/core/sound/Channel4.js"></script>
<script src="IodineGBA/core/CPU/ARM.js"></script>
<script src="IodineGBA/core/CPU/THUMB.js"></script>
<script src="IodineGBA/core/CPU/CPSR.js"></script>
<script src="IodineGBA/core/graphics/Renderer.js"></script>
<script src="IodineGBA/core/graphics/RendererShim.js"></script>
<script src="IodineGBA/core/graphics/RendererProxy.js"></script>
<script src="IodineGBA/core/graphics/BGTEXT.js"></script>
<script src="IodineGBA/core/graphics/BG2FrameBuffer.js"></script>
<script src="IodineGBA/core/graphics/BGMatrix.js"></script>
<script src="IodineGBA/core/graphics/AffineBG.js"></script>
<script src="IodineGBA/core/graphics/ColorEffects.js"></script>
<script src="IodineGBA/core/graphics/Mosaic.js"></script>
<script src="IodineGBA/core/graphics/OBJ.js"></script>
<script src="IodineGBA/core/graphics/OBJWindow.js"></script>
<script src="IodineGBA/core/graphics/Window.js"></script>
<script src="IodineGBA/core/graphics/Compositor.js"></script>
<script src="IodineGBA/core/memory/DMA0.js"></script>
<script src="IodineGBA/core/memory/DMA1.js"></script>
<script src="IodineGBA/core/memory/DMA2.js"></script>
<script src="IodineGBA/core/memory/DMA3.js"></script>
<script src="IodineGBA/core/cartridge/SaveDeterminer.js"></script>
<script src="IodineGBA/core/cartridge/SRAM.js"></script>
<script src="IodineGBA/core/cartridge/FLASH.js"></script>
<script src="IodineGBA/core/cartridge/EEPROM.js"></script>
<script src="IodineGBA/core/cartridge/GPIO.js"></script>
<!--Add your webpage scripts below-->
<!--
<script src="user_scripts/AudioGlueCode.js"></script>
<script src="user_scripts/base64.js"></script>
<script src="user_scripts/CoreGlueCode.js"></script>
<script src="user_scripts/GfxGlueCode.js"></script>
<script src="user_scripts/GUIGlueCode.js"></script>
<script src="user_scripts/JoyPadGlueCode.js"></script>
<script src="user_scripts/ROMLoadGlueCode.js"></script>
<script src="user_scripts/SavesGlueCode.js"></script>
<script src="user_scripts/WorkerGfxGlueCode.js"></script>
<script src="user_scripts/WorkerGlueCode.js"></script>
<script src="user_scripts/VoiceController.js"></script>
<link rel="stylesheet" href="user_css/main.css">
-->
